/* Navbar */

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.navbar {
	display: flex;
	height: 10vh;
	background: orange;
	color: black;
	justify-content: space-between;
	padding: 0 10vw;
}

.navbar-logo {
	display: flex;
	justify-content: center;
	align-items: center;
}
.navbar-logo h3 {
	margin-left: 1vw;
	font-size: 2em;
	font-weight: 300;
}

.navbar-logo img {
	max-height: 50%;
}

.links-container {
	list-style: none;
	display: flex;
	justify-content: center;
}

.links-container li {
	height: 100%;
	width: auto;
	padding: 0.5em;
	color: white;
	font-size: 1.5em;
	background-color: red;
	cursor: pointer;
	padding: 20px;
}

.links-container li:nth-child(3):hover {
	background-color: coral;
}

/* Content section */

hr {
	width: 90%;
	margin: 0 auto;
	border-bottom: 1px;
}

.grid-container {
	display: flex;

	height: 80vh;
	width: 80%;
	margin: 0 auto;
}

.grid-content {
	width: 70%;
	height: 100%;
}

.text-container {
	padding: 5% 5%;
}

.quote {
	border-left: 5px solid grey;
	padding: 0 10%;
}

.grid-nav {
	width: 30%;
	height: 100%;
	background-color: green;
	grid-area: sidebar;
}

.box {
	background-color: orange;
	height: 20%;
	margin: 5% 10%;
}

/* Footer */

.footer-links li {
	height: 100%;
	width: auto;
}

.social-links li {
	background-color: peru;
	width: auto;
}

/* Media queries */

@media (max-width: 1024px) {
	.navbar {
		flex-direction: column;
		height: auto;
	}
	.grid-container {
		flex-direction: column;
		overflow: hidden;
		justify-content: center;
	}
	.grid-content {
		margin: 0 auto;
	}
	.grid-nav {
		display: none;
	}
	.footer {
		flex-direction: column;
		height: auto;
	}
}

@media (max-width: 500px) {
	.navbar-links {
		width: 100%;
		margin: 0 inherit;
		padding: 0;
	}
}
